<!DOCTYPE html>
<html>
<body>
{% extends 'main.html' %}
{% block content %}
    <section class="container table-responsive">
        <div>
            <table style="width:100% " class="table displayTable">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">User</th>
                    <th scope="col">Email</th>
                    <th scope="col">Site</th>
                    <th scope="col">API-Key</th>
                </tr>
                <tr>
                    {% for data in result %}
                        <tr>
                        <td>{{ data['name'] }}</td>
                        <td>{{ data['user'] }}</td>
                        <td><a href="mailto:{{ data['email'] }}">{{ data['email'] }}</a></td>
                        <td>{{ data['site'] }}</td>
                        <td>{{ data['key'] }}</td>
                    {% endfor %}
                    </tr>
            </table>
        </div>
    </section>
{% endblock %}
</body>
</html>