<!DOCTYPE html>
<html>
<body>
{% extends 'main.html' %}
{% block content %}

    <section class="container table-responsive">
    <table style="width:100% " class="table displayTable">
            <tr>
                <th scope="col">Execution Date</th>
                <th scope="col">IP</th>
                <th scope="col">Country</th>
                <th scope="col">Continent</th>
                <th scope="col">Regional Internet Registry</th>
                <th scope="col">States</th>
            </tr>
        <tr>
            {% for data in result %}
                <tr>
                    <td>{{ data['exec_date']['$date'] }}</td>
                    <td><a href="{{ url_for('show_details', ip=data['ip'])}}">{{ data['ip'] }}</a></td>
                    <td>{{ data['country'] }}</td>
                    <td>{{ data['continent'] }}</td>
                    <td>{{ data['regional_internet_registry'] }}</td>
                    <td><p style="color: green;">Harmless: {{ data['last_analysis_stats']['harmless'] }}
                        <p style="color: darkred;">Malicious: {{ data['last_analysis_stats']['malicious'] }}
                        <p style="color: red;">Suspicious: {{ data['last_analysis_stats']['suspicious'] }}
                        <p style="color: darkorange;">Timeout: {{ data['last_analysis_stats']['timeout'] }}
                        <p style="color: dimgrey;">Undetected: {{ data['last_analysis_stats']['undetected'] }}
                    </td>
                <th><button><a href="{{ url_for('deleteI', id=data['_id']['$oid'])}}">delete</a></button></th>
            {% endfor %}
        </tr>
        </table>
    </section>
{% endblock %}
<script>
    $(document).on('click', '.btn', function() {

    var name = $(this).data('ip');
    window.location = '/details?ip='+name;
});
</script>
</body>
</html>
